<!DOCTYPE html>

{% extends "tourist_attractions/base.html" %}

<head>
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'tourist_attractions/style.css' %}">
{% endblock %}
</head>

<body>
  {% block body %}
  <h1>This is a list of attractions in America!</h1>
  <table>
    <tr><th>Attraction</th> <th>State</th></tr>
    {% for item in attractions|dictsort:"state" %}
    <tr>
      <td>{{ item.attraction_name }}</td>
      <td>
        <a href="{% url 'details' statename=item.state|slugify %}">{{ item.state }}</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endblock %}
</body>